/* общие для всего макета свойства */
body {
}

a {
  text-decoration: none;
  color: #000000;
}

.company-name {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.accent {
  color: #2196f3;
}

ul {
  list-style-type: none;
}

.company-item {
  color: #000000;
}

.company-item:hover,
:focus {
  color: #2196f3;
}
