/* Используемые шрифты  */

/* font-family: "Raleway", sans-serif; */
/* font-family: "Roboto", sans-serif; */

/* Используемые цвета */
/* color: #2196F3; */
/* color: #212121; */
/* color: #757575; */
/* color: rgba(255, 255, 255, 0.6); */

:root {
  --main-dark-color: #212121;
  --second-dark-color: #757575;
  --accent-color: #2196f3;
  --tel-mail-color-footer: rgba(255, 255, 255, 0.6);
  --main-font: "Roboto", sans-serif;
  --second-font: "Raleway", sans-serif;
}

/* Стили к тэгам */
a {
  text-decoration: none;
  color: #212121;
}

a:hover,
a:focus {
  color: #2196f3;
}

ul {
  list-style: none;
}

body {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

body span {
  color: var(--accent-color);
}

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

footer li a {
  color: var(--tel-mail-color-footer);
}

h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* text-align: center; */
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /* color: #ffffff; */
}

h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  /* text-align: center; */
  color: var(--main-dark-color);
}

h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* text-align: center; */
  color: var(--main-dark-color);
}

.address {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--second-dark-color);
}

.banner {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  /* text-align: center; */
  letter-spacing: 0.06em;
  /* color: #FFFFFF; */
}
.feature li h3 {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--main-dark-color);
}

.feature li p {
  line-height: 1.71;
  color: var(--second-dark-color);
}

.team li p {
  font-size: 16px;
  line-height: 1.187;
  /* text-align: center; */
  color: var(--second-dark-color);
}

button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* text-align: center; */
  /* color: #FFFFFF; */
}

footer address {
  font-style: normal;
  line-height: 1.71;
  /* color: #FFFFFF; */
}

.gallery li h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-dark-color);
}

.gallery li p {
  font-size: 16px;
  line-height: 1.875;
  color: var(--second-dark-color);
}
